* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
header li {
	color: rgb(165, 196, 147);
}
h1 {
	color: red;
}
h2.zagolovok2 {
	color: rgb(209, 101, 101);
}
h2#podzagolovok1 {
	color: darkcyan;
}
p {
	color: rgb(105, 100, 51);
}
p a {
	color: rgb(12, 158, 12);
}
.list {
	color: blue;
}
.list li {
	color: rgb(92, 92, 223);
}
footer {
	color: chartreuse;
}
